* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
 :root { 
    --color-primary: #2a9d8f; 
    --color-secondary: #e76f51; 
    --color-background: #8ab3c0; 
    --color-text: #333; 
    --font-family: 'Arial, sans-serif, times new roman, serif, georgia, serif'; 
    --font-size-base: 16px; 
    --spacing-base: 1rem; 
} 
body { 
    font-family: var(--font-family); 
    font-size: var(--font-size-base); 
    color: var(--color-text); 
    background-color: var(--color-background); 
    line-height: 1.6; 
    padding: var(--spacing-base); 
} 
header, main, footer { 
    width: 840px; 
    margin: 0 auto; 
} 
h1, h2 { 
    opacity: 0.9; 
    background-color: #534848; 
    font-family: var(--font-family); 
    color: var(--color-primary); 
    padding: var(--spacing-base); 
    text-align: center;
} 
nav, p, section, article { 
    margin: var(--font-size-base); 
    padding: 8px; 
} 
.socialmedia a { 
    text-decoration: none; 
} 
.hero p { 
    color: #fff; 
    opacity: 0.9; 
} 
.hero { 
    position: relative; 
    background-image: url('/wwr/images/rafting14_1024.jpg'); 
} 
.hero 
img { 
    display: block; 
    width: 100%; 
    height: auto; 
} 
h1 { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    font-size: 2.5rem; 
    text-align: center; 
    padding: 8px; 
    background-color: rgba(255, 255, 255, 0.8); 
    color: var(--color-primary); 
    width: 100%; height: 40px; 
} 
.hero article img { 
    background-color: aquamarine;
    float: right; 
    width: 125px;
}
nav a {
    float: right;
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 2px;
}
nav img {
    position: relative;
}