*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d3cece;
}
p {
    padding: 0;
}
nav{
    background-color: #4f8ecc;
    text-align: center;
    padding: 10px;   
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}
nav a{
    display: block;
    text-decoration: none;
    color: #161515;
    font-weight: bold;
    padding: 0 10px;    

}
main{

    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

img {
    border: 1px solid #000;
    width: 200px;
    height: auto;
    box-shadow: #161515 2px 2px 5px;
    padding: 5px;
}
 aside img{
    width: 200px;
    height: auto;
 } 

 footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
 }

 h1{
    text-align: center;
    margin: 15px 0;
    font-size: 2rem;
    color: #3f99f3;
 }
